.nav-sidebar {
  position: fixed;
  margin-right: 139px;
  margin-bottom: 20px;
  margin-left: -20px;
  background-color: #666666;
  z-index:50;
  padding-left: 15px;
}
.navbar-form {
  margin: 10px 0px 10px;
}
.nav-sidebar > li > a:hover {
  background-color: #777777;
}
.nav-sidebar > li > a{
  padding: 0px;
}
.spacer {
  position: fixed;
  background-color: #EEEEEE;
  padding: 0px 139px;
  height: 100vh;
}
.info {
  position: fixed;
  top: 100%;
  margin-top:-40px;
  margin-left: 5px;
  font-size: 12px;
}
.main {
  position: relative;
  background-color: #FFFFFF;
  padding: 20px;
  margin-left: 277px;
  height: 100vh;
}
.main .page-header {
  margin-top: 0;
}
.hits {
  margin-top: -15px;
  text-align: right;
  font-size: 12px;
  padding-right: 5px;
}
.timestamp {
  margin-top: -18px;
  text-align: right;
  font-size: 12px;x
}
#logo {
  width:85%;
  margin: 10px -20px 10px 20px;
}